.card-1{
    background-color: lightpink;
    width:90%;
    margin:auto;
}
.container-fluid{
    height:150vh;
    background-color:lightpink;
}




#btn1{
    width:45%;
   
    padding:12px;
   
}
#btn{
    margin-left:4%;
    width:45%;
    padding:12px;
}